@import url('https://fonts.googleapis.com/css?family=Lakki+Reddy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sunshiney&display=swap');
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
* {
    margin: 0;
    padding: 0;
   }
   
   body {
     overflow-x: hidden;
     background-color: #ffb6c1;
   
   }
   
   
   .menu {
     margin-top: 4vh;
     margin-left: 8vh;
   
   }
   
   
   
   .menu li{
     float: right;
     padding-right: 30px;
     font-size: 1.5em;
     color: #037bfc;
     list-style-type: none;
     font-family: 'Yeon Sung', cursive;

   }
   
   .menu li a {
     color: #037bfc;
     text-decoration: none;
   }
   
 
    #title {
      margin-top: 5vh;
      margin-bottom: 2vh;
      color: #037bfc;
      font-family: 'Lakki Reddy', cursive;

    }
   
   h1 { 
     text-align: center;
     font-family: 'Courier New', Courier, monospace;
   }
   
   p {
    margin-top: 20vh;
    font-size: 2em;
    color: #FFD2BC;
    text-align: center;
    font-family: 'Special Elite', cursive;
  }
  a h2 {
   margin-left: 10vh;
    font-size: 1.7em;
    color: white;
    font-family: 'Sunshiney', cursive;

  }
image {
  margin-right: 5ch;
}
h3 {
  text-align: center;
}
h2 {
  color: rgb(217, 14, 224);

}